html, body{
	background-color: #996633;
    margin: 0;
    padding: 0;
    height: 100;
}

header {
    height: 110px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #9a1a33;
    border-bottom: 0px solid black;
    text-align: center;
}

img {
	width: 100px;
}